<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <div class="product-item single-product-view">
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p class="price">₹<%= product.price %></p>
        <form method="POST" action="/user/add-to-cart/<%= product._id %>">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>